<% provide :title, t("static_pages.about") %>
<h1><%= t "static_pages.about" %></h1>
<p>
  <a href=<%= Settings.rails_site %>>
    <em><%= t "static_pages.rubyonrails" %></em></a>
  <%= t "static_pages.book" %>
  <a href=<%= Settings.rails_site %>><%= t "static_pages.ruby" %></a>
  <%= t "static_pages.sample" %>
</p>
