<tr>
  <td><%= exam.created_at.strftime t("time") %></td>
  <td><%= exam.category.name %></td>
  <td><%= exam.status %></td>
  <td>
    <% if exam.spent_time.present? %>
      <%= "#{exam.spent_time / Settings.exam.minute} : #{exam.spent_time % Settings.exam.minute}" %>
    <% end %>
  </td>
  <td><%= exam.mark %></td>
  <td><%= link_to t("exam.view"), admin_exam_path(exam), class: "btn btn-success" if !exam.start? %></td>
</tr>
