<%= form_for [:admin, @question] do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td><%= f.label :question %></td>
        <td><%= f.text_field :content, class: "form-control type" %></td>
      </tr>
      <tr>
        <td><%= f.label :question_type %></td>
        <td>
          <%= f.select :question_type, options_for_select(Settings.question.types, params[:question_type]),
            {}, {class: "form-control question-type"} %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :category %></td></td>
        <td>
          <%= f.select :category_id, options_from_collection_for_select(@categories, "id",
            "name", params[:category_id]), class: "form-control" %>
        </td>
      </tr>
      <div id="answers">
        <%= f.fields_for :answers do |text_form| %>
          <%= render @question.text? ? "text_form" : "answer_form", f: text_form %>
        <% end %>
      </div>
    </tbody>
  </table>
  <div class="option-answers row">
    <button class="add_answer btn btn-primary btn-sm" name="answers">
      <%= t "question.add_answer" %>
    </button>
  </div>
  <div class="row">
    <%= f.submit t("question.save"), class: "submit-word btn btn-primary pull-right" %>
  </div>
  <%= add_fields_answer f, :answers %>
<% end %>
