<tr>
  <td><%= question.id %></td>
  <td><%= question.content %></td>
  <td><%= question.category.name %></td>
  <td><%= question.question_type %></td>
  <td>
    <% if question.waitting? %>
      <span class="label label-warning"><%= question.status %></span>
    <% else %>
      <span class="label label-success"><%= question.status %></span>
    <% end %>
  </td>
  <td>
    <% if question.waitting? %>
      <%= link_to t("questions.accept"), admin_question_path(question,
        question: {status: "accepted"}), method: :patch, class: "btn btn-primary btn-xs btn-danger" %>
    <% end %>
  </td>
  <td>
    <% question.answers.each do |answer| %>
      <li>
        <%= answer.content %>
        |<%= answer.correct %>
      </li>
    <% end %>
  </td>
  <td>
    <%= link_to t("question.edit"), edit_admin_question_path(question) %>
    <%= link_to t("question.delete"), admin_question_path(question), method: :delete, data: {confirm: t("you_sure")} %>
  </td>
</tr>
