<% provide :title, t("category.title") %>
<h1><%= t "category.title" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @categories] do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.submit t("category.create") , class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
