<% provide :title, t("admin_all_users") %>
<h1><%= t "admin_all_users" %></h1>

<div class="container">
  <%= search_form_for [:admin, @search] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name_eq %>

    <%= f.label :email %>
    <%= f.text_field :email_eq %>

    <%= f.submit t("search") %>
  <% end %>

  <table class="table table-bordered">
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>
<%= will_paginate %>
