<tr>
  <td><%= exam.created_at.strftime t("time") %></td>
  <td><%= exam.category.name %></td>
  <td><%= exam.status %></td>
  <td><%= exam.spent_time %></td>
  <td><%= exam.mark %></td>
  <td><%= link_to t("exam.start"), "#", class: "btn btn-primary" %></td>
</tr>
