<p><%= f.object.question.content %></p>
  <ul>
    <% case f.object.question.question_type %>
    <% when Settings.question.types.single %>
      <% f.object.question.answers.each do |answer| %>
        <%= f.radio_button :content_answer, answer.id,
          {checked: f.object.content_answer.include?(answer.id.to_s)} %>
        <%= answer.content %><br/>
      <% end %>
    <% when Settings.question.types.multiple %>
      <% f.object.question.answers.each do |answer| %>
        <%= f.check_box :content_answer,
          {checked: f.object.content_answer.include?(answer.id.to_s),
          multiple: true}, answer.id, false %>
        <%= answer.content %><br/>
      <% end %>
    <% when Settings.question.types.text %>
      <%= f.text_field :content_answer, multiple: true %>
    <% end %>
  </ul>
