<% provide :title, t("exam.test") %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="text-center">
      <h1><%= @exam.category.name %></h1>
    </div>
    <div class="clock">
      <% if @time_remaining > Settings.exam.time_out %>
        <h3 class="pull-right" id="clock">
          <span id="hidden-data" data-time-over-msg="<%= t "exam.time_over" %>"
            data-time-remaining="<%= @time_remaining %>">
          </span>
          <span class="glyphicon glyphicon-time">&nbsp</span>
          <b id="time-remaining"></b>
        </h3>
      <% end %>
    </div>
    <div class="list-question">
      <%= form_for @exam do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :status, value: :uncheck %>
        <%= f.fields_for :results do |builder| %>
          <%= render "question", f: builder %>
        <% end %>
        <%= f.submit t("exam.finish"), class: "btn btn-primary" if @exam.start? || @exam.testing? %>
      <% end %>
    </div>
  </div>
</div>
